
<ul class="nav justify-content-end">
        <li class="nav-item">
         <!--  <a class="nav-link active" href="#"></a> -->
         <a class="nav-link" href="#!/historial">Historial Doc.</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!/create">Crear Doc.</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!/edit">Editar Doc.</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" href="#!/delete">Borrar Doc.</a>
        </li>
</ul>

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center text-black mb-4">Bienvenido al Menú..</h2>
        </div>
    </div>
        
</div>
